@media screen and (max-width: 1195px) {
  #blogsCardsContainer {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
@media screen and (max-width: 790px) {
  #blogsCardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 515px) {
  .footer-links {
    flex-direction: column;
  }
}
@media screen and (max-width: 1242px) {
  .footer-copyright {
    flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  .footer-copyright-links {
    flex-direction: column;
  }
  .footer-copyright {
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center !important;
  }
}
@media screen and (max-width: 300px) {
  .blog-card {
    max-width: 98% !important;
    width: 98% !important;
  }
}
