@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fff;
}
.main-title {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  color: #00c1cf;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.main-title::before,
.main-title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #00c1cf;
  flex: 1;
  margin: 0 8px;
}
.wrapper {
  width: 100%;
  margin: auto;
}
input[type="radio"] {
  display: none;
}
.item {
  display: block;
  margin-bottom: 8px;
}
.title {
  padding: 8px;
  color: #00c1cf;
  font-weight: bold;
  border: 1px solid #00c1cf;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title::after {
  content: "\25bc";
  font-size: 12px;
}
input[type="radio"]:checked + .item .title {
  background-color: #00c1cf;
  color: #fff;
}
input[type="radio"]:checked + .item .content {
  height: auto;
  opacity: 1;
  visibility: visible;
  margin: 8px 0 16px 0px;
  transition: all 0.3s ease;
}
.content {
  padding: 8px;
  color: #00c1cf;
  line-height: 1.6;
  border: 1px solid #00c1cf;
  border-top: none;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.2s ease;
}
